<div class="table-container">
  <table class="table">
    <h1>People</h1>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    <% @people.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.Name %></td>
      </tr>
    <% end %>
  </table>

  <table class="table">
    <h1>Affiliations</h1>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    <% @affiliation.each do |a| %>
      <tr>
        <td><%= a.id %></td>
        <td><%= a.Name %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="table-container">
  <table class="table">
    <h1>Locations</h1>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    <% @location.each do |l| %>
      <tr>
        <td><%= l.id %></td>
        <td><%= l.Name %></td>
      </tr>
    <% end %>
  </table>

  <table class="table">
    <h1>People Affiliations</h1>
    <tr>
      <th>ID</th>
      <th>Person ID</th>
      <th>Affiliation ID</th>
    </tr>
    <% @people_affiliation.each do |pa| %>
      <tr>
        <td><%= pa.id %></td>
        <td><%= pa.person_id %></td>
        <td><%= pa.affiliation_id %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="table-container">
  <table class="table">
    <h1>People Locations</h1>
    <tr>
      <th>ID</th>
      <th>Person ID</th>
      <th>Location ID</th>
    </tr>
    <% @people_location.each do |pl| %>
      <tr>
        <td><%= pl.id %></td>
        <td><%= pl.person_id %></td>
        <td><%= pl.location_id %></td>
      </tr>
    <% end %>
  </table>
</div>

<style>
    .table-container {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      padding: 10px;
    }

    .table {
      border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    .table th, .table td {
        border: 1px solid black;
        padding: 8px;
    }

    .table th {
        background-color: #f2f2f2;
    }
</style>